<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <!-- To enable jmx access to the appenders -->
    <jmxConfigurator />

    <!--<configuration debug="false" scan="true" scanPeriod="30 seconds">-->
    <!--NOTE If no unit of time is specified, then the unit of time is assumed to be milliseconds,
    which is usually inappropriate. If you change the default scanning period, do not forget to
    specify a time unit.-->

    <!-- Console -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.velocity.app" level="OFF"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="httpclient.wire.header" level="OFF"/>
    <logger name="httpclient.wire.content" level="OFF"/>
    <logger name="com.backbase.expert.bank.aop.LoggingAspect" level="OFF"/>
    <!--<logger name="com.backbase.portal.foundation.presentation.processor" level="DEBUG"/>-->
    <logger name="com.backbase" level="DEBUG"/>
    <logger name="com.backbase.launchpad" level="DEBUG"/>


    <!--<logger name="com.backbase.portal.foundation.presentation.i18n" level="DEBUG"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

